.App {
  background-color: #222831;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  padding-top: 100px;
}

.formWrapper {
  background-color: #393E46;
  height:fit-content;
  width: 400px;
  border-radius: 10px;
  padding: 30px;
  align-items: center;
  justify-content: center;
}

input {
  width: 100%;
  padding: 0.3rem;
  border: 1px solid #00ADB5;
  border-radius: 0.25rem;
  background-color: transparent;
  background: none;
  color: #c2e9e0;
  font-size: 1rem;
  margin-bottom: 5px;
  margin-top: 5px;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.urlWrapper {
  margin-top:20px;  
}

button {
  width: 20%;
  padding: 0.3rem;
  border: none;
  border-radius: 0.25rem;
  background: linear-gradient(180deg, #00ADB5, #EEEEEE);
  color: #222831;
  font-family: 'Roboto Condensed', sans-serif;
  cursor: pointer;
  margin-left: 5px;

}


button:hover {
  background: linear-gradient(180deg, #EEEEEE, #00ADB5);
}

/*00ADB5

EEEEEE*/